article.campaign {
  width: 60%;
  margin: 0 auto;
}

div.entry {
  width: 80%;
  margin: 0 auto;
}

.entrybuttons {
  display: flex;
  justify-content: center;
}

.entryoption {
  width: 40px;
  height: 40px;
  border: 2px solid black;
}
