.formcontainer {
  align-self: center;
  width: 50vw;
  min-height: 75vh;
  margin: 15vh auto;
  border-top: 2px solid lightgrey;
  border-right: 2px solid grey;
  border-bottom: 2px solid darkgrey;
  border-left: 2px solid darkgrey;
  /*background: #FFED66;*/
  background: lightgrey;
}

.content {
  width: 75%;
  margin: 0 auto;
  /*border: 2px solid orange;*/
}

.personname > *, .personemail > * {
  display: inline-block;
}

.personemail, .emailheader {
  /*border: 2px solid orange;*/
  align-content: left;
/*  width: 70%;*/
  margin: 0 auto;
}

.emailbody {
  width: 70%;
  height: 200px;
  margin: 0 auto;
  /*border: 2px solid blue;*/
}

.emailtext {
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  box-shadow: 3px 3px 10px grey;
  position: relative;
  top: 15px;
}

.emailheader {
  box-shadow: 3px 3px 10px rgba(30, 30, 30, 0.5);
  background: #3C80E0;
  padding: 1px 15px;
  color: white;
  position: relative;
  top: 5px;
}

.email {
  /*border: 2px solid red;*/
}

.element > * {
  display: inline-block;
}

.header {
  background: rgba(60, 128, 224, 0.7);
  color: white;
  padding: 0 30px;
  border-bottom: 2px solid white;
}

.header > * {
  text-align: center;
}

.sendemail {
  margin: 20px auto;
  height: 35px;
  text-align: center;
}

input {
  outline: none;
  border: none;
}

input[type="text"], input[type="email"], input[type="password"] {
  margin-left: 5px;
  margin-right: 20px;
  height: 30px;
  position: relative;
  bottom: 2px;
  box-shadow: 3px 3px 10px rgba(30, 30, 30, 0.5);
}

input[type="email"] {
  width: 70%;
}

h3, p {
  font-weight: 300;
}

h3 {
  background: #3C80E0;
  box-shadow: 3px 3px 10px rgba(30, 30, 30, 0.5);
  padding: 5px;
}

textarea {
  font-size: 12px;
  outline: none;
}

.emailbutton {
  font-weight: 300;
  font-size: 14px;
  padding: 8px 20px;
  text-align: center;
  box-shadow: 3px 3px 10px grey;
/*  cursor: pointer;*/
  color: white;
  background: #3c80e0;
  outline: none;
  border: none;
  position: relative;
  top: 15px;
  margin-bottom: 15px;
}

@media(max-width: 700px){
  .emailbody {
    width: 95%;
  }
}

@media(max-width: 650px){
  .formcontainer {
    width: 90%;
  }
}





